
<div class="center jumbotron">

    <h1>Encyklopedia Roślin</h1>
    <p>Encyklopedia roślin to strona o uprawie roślin egzotycznych. Wpisy będą systematycznie uzupełniane.</p>
        <p>Uwagi i wskazówki mile widziane.</p>
</div>



